.formInput {
  font-size: 1.125rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 12px 32px 12px 12px;
  width: 100%;
}

.formInputInvalid {
  composes: formInput;
  border: 1px solid red;
}

.fromLabel {
  font-size: 0.925rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.fromControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.inputGroup {
  position: relative;
  width: 100%;

}

.errorMsg {
  font-size: 0.75rem;
  color: red;
}

.clearIcon {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  right: 12px;
  cursor: pointer;
}