.contactItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
  border: 1px solid;
  border-radius: .4rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  align-items: center;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
}